<section class="home-profile py-5  ">

    <div class="container d-flex justify-content-center align-items-center   py-5 mt-5">
        
      <div class="card-profile">
      
        <div class="text-center image-card">
            <img src="assets/images/avataaars.svg" alt="profileimage" class="w-50 ">

        </div>

        <h1 class="text-uppercase fw-bold text-white mt-3">start framework</h1>
        <div class="profile-line d-flex justify-content-center align-items-center ">
            <h2></h2>
            <h2 class=" p-2 ">
                <i class="fa-solid fa-star text-white fa-2xs "></i>

            </h2>
            <h2></h2>
        </div>
        <p class="text-center text-white">Graphic Artist - Web Designer - Illustrator
        </p>
      </div>

    </div>

</section>
